

PORT=5001
MONGO_URI=mongodb+srv://neddylarbi_db_user:edwardd@cluster0.fqbwccr.mongodb.net/?appName=Cluster0ß
JWT_SECRET=YztN3kBhhTatKtcsG59vnx4JjoKmh1SD542qqMiW7FA
FRONTEND_URL=https://edward-crypto-app.netlify.app
